<%= render 'sheared/nav_bar'%>
<div class="container d-flex flex-column justify-content-center align-items-center">
    <% @groups.each do |g|%>
    <div class="card d-flex flex-column justify-content-center align-items-center m-3 pt-3" style="width: 18rem;">
        <div>
            <span class="material-symbols-outlined img">
                <%if g.icon.url.nil?%>
                    <%= image_tag default_group_icon(g.name)%>
                <% else %>
                    <%=image_tag g.icon.url, class:"img-fluid", style:"width: 520px;" %>
                <% end %>
            </span>
        </div>

        <div class="card-body d-flex flex-column justify-content-center align-items-center">
            <%= link_to g.name.upcase, user_group_entities_path(current_user, g), class: "btn btn-success" %>
            <p class="card-text text-muted">Total spend : $<%= g.entities.sum(:amount) %></p>
        </div>
    </div>
<% end %>
    <%= link_to 'New Group', new_user_group_path, class: "btn btn-success mb-5" %>
</div>